@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
  position: relative;
  background-color: white;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 100px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.square {
  height: 125px;
  width: 124px;
  background: rgb(118,201,229);
  display: inline-block;
  text-align: center;
  font-size: 95px;
  vertical-align: middle;
  border-radius: 5px;
  padding: 0.5px;
  margin-top: 6px;
}

.square:hover {
  opacity: 0.5;
  cursor: pointer;
}

.gameBoard {
  width: 400px;
  height: 400px;
  display: inline-block;
  position: absolute;
  padding: 3px;
}

.messageBoard {
  background: rgb(118,201,229);
  height: 454px;
  width: 200px;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -50px;
  border-radius: 5px;
  text-align: center;
  overflow: scroll;
  padding: 0 5px 0 5px;
}

.messageBoard > p {
  font-size: 20px;
}

.infoBox {
  width: 200px;
  height: 91px;
  background-color: #FABC41;
  border-radius: 5px;
  position: absolute;
  right: 270px;
  top: 10px;
  text-align: center;
  margin: auto;
  line-height: 1;
  font-weight: bold;
  font-size: 33px;
}
#oWins {
  top: 110px;
}

#oWins, #xWins {
  background-color: #C8A3CA;
}

#resetBoard {
  top: 210px;
}
#resetBoard:hover {
  cursor: pointer;
}

.resetTime {
  background-color: rgb(246,120,114);
}

#restartGame {
  top: 310px;
}

#restartGame:hover {
  cursor: pointer;
}

#turn {
  background: #D1CDD0;
  height: 50px;
  width: 380px;
  position: absolute;
  top: -50px;
  left: 03px;
  text-align: center;
  font-size: 25px;
  line-height: 2;
  border-radius: 5px;
  font-weight: bold;
}

#messageTitle {
  background: #D1CDD0;
  height: 50px;
  width: 200px;
  position: absolute;
  top: -50px;
  right: 0px;
  text-align: center;
  font-size: 25px;
  line-height: 2;
  border-radius: 5px;
}

#gamesPlayed {
  background: #D1CDD0;
  height: 50px;
  width: 200px;
  position: absolute;
  top: -50px;
  right: 270px;
  text-align: center;
  font-size: 25px;
  line-height: 2;
  border-radius: 5px;
}

.ai {
  height: 40px;
  width: 119px;
  position: absolute;
  border-radius: 4px;
  left: 247px;
  top: -49px;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
}

#winnerBox {
  height: 300px;
  width: 500px;
  background-color: #C8A3CA;
  opacity: 0.9;
  position: absolute;
  top: -25px;
  left: -1280px;
  border-radius: 3px;
  font-size: 150px;
  text-align: center;
  line-height: 0.1;
}
